 body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #f2f2f2;
 }

 /* Horná lišta */
 .menu {
     background-color: #8DD8FF;
     position: fixed;
     top: 0;
     width: 100%;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     display: flex;
     align-items: center;
     justify-content: center;
     
     padding: 10px 0;
     ;

 }
 .banner_logo
 {
    height: 80px;
    width: auto;
 }

 .custom-navbar {
  background-color: #8DD8FF; 
  color:black;
}

 .navbar-nav {
  margin-left: 125px !important;   
  margin-right: auto !important; 
}
.no-bottom-border th {
            border-bottom: none !important;
        }
.no-bottom-border td {
            border-bottom: none !important;
        }


.my-table {
    background-color: #8CC3E3; /* svetlomodrá farba celej tabuľky */
}

.my-table th,
.my-table td {
    background-color: #8CC3E3; /* modré pozadie pre všetky bunky */
}

 /* Tlačidlá v menu */
 .buttons a {
  background-color: #78C0E0;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 4px;
  transition: 0.3s;
  display: inline-block;
}

.buttons a:hover {
  background-color: #449DD1;
}
.menu img {
     position: absolute;
     display: inline-block; 
     left: 30px;
     height: 90px;
     bottom:  -14px;
     
 }
 
 /* Priestor pod menu, aby text nezačínal hneď pod ním */
 .content {
     padding-top: 70px;
     text-align: center;
 }

table th {
  background-color: #cfe2ff;
}

.pdf.file
{
  border-style: solid;
  border: 0px;
}

table td, table th {
  text-align: center;
  word-break: break-word;
}
footer {
  background-color: #8DD8FF; /* rovnaká svetlomodrá ako header */
  color: black; /* tmavšia modrá na text, aby bol dobre čitateľný */
  padding: 30px 0;
}

footer a {
  color: red;
  text-decoration: none;
  transition: color 0.2s;
}

footer a:hover {
  color: yellow; /* o niečo tmavší odtieň pri prechode myšou */
  text-decoration: underline;
}

footer h5, footer h6 {
  color: #003366;
  font-weight: 700;
}

footer i {
  color: #003366;
}